<mat-card class="mt-3">
  <mat-grid-list cols="2" rowHeight="2:2">
    <mat-grid-tile>
      <div>
        <img src="../../../assets/material.png" alt="">
        <h1 style="text-align: center;">Cadastre-se</h1>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <form class="cadastro-form" [formGroup]="cadastroForm" (ngSubmit)="cadastrar()">
        <mat-form-field class="cadastro-full-width mt-b" appearance="fill">
          <mat-label>Nome</mat-label>
          <input type="text" matInput formControlName="name" [errorStateMatcher]="matcher" placeholder="Ex. Arthur">
          <mat-error *ngIf="cadastroForm.controls.name.hasError('required')">
            Nome é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="cadastro-full-width mt-b" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
            placeholder="Ex. pat@example.com">
          <!-- <mat-hint>Tudo certo!</mat-hint> -->
          <mat-error *ngIf="cadastroForm.controls.email.hasError('email')">
            Por favor insira um endereço de e-mail válido
          </mat-error>
          <mat-error *ngIf="cadastroForm.controls.email.hasError('required')">
            Email é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="cadastro-full-width mt-b" appearance="fill">
          <mat-label>Senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix type='button' (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="cadastroForm.controls.password.hasError('required')">
            Senha é <strong>obrigatória</strong>
          </mat-error>
        </mat-form-field>
        <div style="text-align: end;">
          <button type='submit' mat-raised-button color="primary" [disabled]="!cadastroForm.valid">Cadastrar</button>
        </div>
      </form>
    </mat-grid-tile>
  </mat-grid-list>

</mat-card>
